<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<!-- <p><%= @task.completed %></p> -->
<p><a href="/tasks">Return to main page</a>
</p>

<p><%= link_to "asd", task_path(@task) method: :delete %></p>
